@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
  margin: 2rem;
}

.card {
  margin: 0 auto;
}

.theme-color {
  height: 30px;
  width: 30px;
  margin: 2rem auto;
}

.color-picker {
  float: right;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.site-page-header {
}

.dashboard-container {
  text-align: center;
  margin-top: 6rem;
}

.color-picker-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.color-picker {
  position: absolute;
  right: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
